<div class="container">
<h4>Using Services</h4>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Date Of Birth</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of students">
      <td>{{s.id}}</td>
      <td>{{s.name}}</td>
      <td>{{s.gender}}</td>
      <td>{{s.dob}}</td>
    </tr>
  </tbody>
</table>
<br>
<h4> Using json</h4>
<table>

  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>


    <tr *ngFor="let s of studs">
      <td>{{s.id}}</td>
      <td>{{s.name}}</td>
      <td>{{s.age}}</td>
      <td>{{s.gender}}</td>
    </tr>
  </tbody>
</table>

</div>
